<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}">
<head>
</head>
<body>
	<div layout:fragment="content" class="container">
		<nav aria-label="Page navigation example"
			style="display: flex; justify-content: space-between;">
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Search" aria-label="Search">
			</form>
		</nav>

		<div class="row" style="margin-top: 10px;">
			<div class="col-lg-9 col-md-9">

				<th:block th:each="blogItem : ${blogsList}">
					<div class="card blog-container">
						<div class="no-gutters">
							<div class="">
								<img
									th:src=@{/image/avatars/{path}(path=${usersList.get(blogItem.getUserLogin()).getUserAvatar()})}
									class="blog-avatar" alt="avatar">
							</div>
							<div class="">
								<div class="card-body">
									<h5
										th:text=${usersList.get(blogItem.getUserLogin()).getUserName()}
										class="card-title"></h5>
									<p th:text=${blogItem.getBlogBody()} class="card-text"></p>
									<img th:if="${blogItem.getBlogImage() != null}"
										th:src=@{image/blog/{path}(path=${blogItem.getBlogImage()})}
										class="blog-image" />
									<p class="card-text">
										<small
											th:text="${#dates.format(new java.util.Date(blogItem.getBlogDate()*1000), 'dd-MM-yyyy HH:mm')}"
											class="text-muted"></small>
									</p>
								</div>
							</div>
						</div>
					</div>
					<th:block />
			</div>

			<div class="col-lg-3 col-md-3">
				<th:block th:each="user : ${usersList.values()}">
					<div class="bloger-block">
						<div>
							<img
								th:src="@{/image/avatars/{path}(path=${user.getUserAvatar()})}"
								class="blog-avatar" alt="avatar">
						</div>
						<div>
							<span th:text="${user.getUserName()}"></span>
						</div>
					</div>
					<th:block />
			</div>
		</div>
	</div>

</body>
</html>
