<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}">
<head>
</head>
<body>
	<div layout:fragment="content" class="container">
		<nav aria-label="Page navigation example"
			style="display: flex; justify-content: space-between;">
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Search" aria-label="Search">
			</form>
			<ul class="pagination justify-content-end">
				<li class="page-item"><a class="page-link" href="#"
					aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
				</a></li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item"><a class="page-link" href="#"
					aria-label="Next"> <span aria-hidden="true">&raquo;</span>
				</a></li>
			</ul>
		</nav>

		<div class="row">

			<div class="container">
				<th:block th:each="newsItem : ${newsList}">

					<div class="card mb-3 post-container">
						<div style="display: flex">
							<div>
								<img th:src=${newsItem.getNewsImage()}
									class="card-img news-image" alt="...">
							</div>
							<div class="card-body" style="padding-bottom: 0">
								<h5 th:text=${newsItem.getNewsTitle()} class="card-title"></h5>
								<p th:text=${newsItem.getNewsBody()} class="card-text news-text"></p>
								<p>
									<small th:text=${newsItem.getNewsDate()} class="text-muted"></small>
								</p>
							</div>
						</div>
					</div>
					<th:block />
					<!-- 
				<div class="card mb-3 post-container">
					<div style="display: flex">
						<div>
							<img
								src="https://image2.turizm.ru/news/gallery/65906/15899008414784.jpg"
								class="card-img news-image" alt="...">
						</div>
						<div class="card-body" style="padding-bottom: 0">
							<h5 class="card-title">Когда мы снова сможем поехать в
								отпуск? График открытия туристических направлений в 2020 году</h5>
							<p class="card-text news-text">В то время, когда
								правительства большинства стран, в том числе, и России,
								продолжают настаивать, что гражданам не стоит даже думать
								&laquo;о загранице&raquo;, а другие держат под замком все
								прибытия из внешнего мира, мир постепенно приближается к
								возвращению к нормальной жизни. В качестве доказательства
								приведем подтвержденные даты открытия туристических направлений
								по всему миру. Вы сами увидите, что это произойдет достаточно
								скоро. &nbsp; 17 мая. Словения 17 мая эта страна в самом центре
								Европы стала первой, заявившей о победе над коронавирусом.
								Поздно вечером в воскресенье правительство Словении объявило о
								постепенном открытии своих границ и ослаблении карантинных
								ограничений. Рестораны и бары также начали вновь
								открываться.&nbsp; Индустрия гостеприимства страны не осталась в
								стороне и уже делает первые шаги, чтобы вернуть туристов, хотя
								остаются закрытыми гостиницы с более чем 30 номерами, спа-центры
								и бассейны.&nbsp; В этот же день Эстония, Латвия и Литва сняли</p>
							<p>
								<small class="text-muted">Добавлено: 19 мая 2020</small>
							</p>
						</div>
					</div>
				</div>
				
				<div class="card mb-3 post-container">
					<div style="display: flex">
						<div>
							<img
								src="https://image2.turizm.ru/news/gallery/65903/15898863311221.jpg"
								class="card-img news-image" alt="...">
						</div>
						<div class="card-body" style="padding-bottom: 0">
							<h5 class="card-title">Можно ли заразиться коронавирусом на пляже, в море и в бассейне</h5>
							<p class="card-text news-text">В то время, когда
								правительства большинства стран, в том числе, и России,
								продолжают настаивать, что гражданам не стоит даже думать
								&laquo;о загранице&raquo;, а другие держат под замком все
								прибытия из внешнего мира, мир постепенно приближается к
								возвращению к нормальной жизни. В качестве доказательства
								приведем подтвержденные даты открытия туристических направлений
								по всему миру. Вы сами увидите, что это произойдет достаточно
								скоро. &nbsp; 17 мая. Словения 17 мая эта страна в самом центре
								Европы стала первой, заявившей о победе над коронавирусом.
								Поздно вечером в воскресенье правительство Словении объявило о
								постепенном открытии своих границ и ослаблении карантинных
								ограничений. Рестораны и бары также начали вновь
								открываться.&nbsp; Индустрия гостеприимства страны не осталась в
								стороне и уже делает первые шаги, чтобы вернуть туристов, хотя
								остаются закрытыми гостиницы с более чем 30 номерами, спа-центры
								и бассейны.&nbsp; В этот же день Эстония, Латвия и Литва сняли</p>
							<p>
								<small class="text-muted">Добавлено: 19 мая 2020</small>
							</p>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

</body>
</html>
