<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}">
<head>
</head>
<body>
	<div layout:fragment="content" class="container">
		<nav aria-label="Page navigation example"
			style="display: flex; justify-content: space-between;">
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Search" aria-label="Search">
			</form>
			<ul class="pagination justify-content-end">
				<li class="page-item"><a class="page-link" href="#"
					aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
				</a></li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item"><a class="page-link" href="#"
					aria-label="Next"> <span aria-hidden="true">&raquo;</span>
				</a></li>
			</ul>
		</nav>

		<div class="row">
		
			<div class="container">
				<th:block th:each="newsItem : ${news}">

					<div class="card mb-3 post-container">
						<div style="display: flex">
							<div>
								<img th:src="${(newsItem.titleImage==null) ? '' : newsItem.titleImage.url}"
									class="card-img news-image" alt="...">
							</div>
							<div class="card-body" style="padding-bottom: 0">
								<h5 th:text=${newsItem.info.title} class="card-title"></h5>
								<p th:text=${newsItem.info.rightcol} class="card-text news-text"></p>
								<p>
									<small th:text="${#dates.format(new java.util.Date(newsItem.info.modified*1000), 'dd-MM-yyyy HH:mm')}" class="text-muted"></small>
								</p>
							</div>
						</div>
					</div>
					<th:block />
			</div>
		</div>
	</div>

</body>
</html>
