<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">
  <head>
    <link href="/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <style>
      form{
        border: thick double #032A63;
        font-family: Raleway-Black;
        width: 450px;
        padding: 20px;
      }
    </style>
  </head>
  <body class="text-center">
    <div layout:fragment="content" class="container">
      <main role="main" class="containter">
        <div style="padding-top: 5rem">
          <form th:action="@{/login}" method="POST" class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <input type="text" placeholder="E-mail" class="form-control" name="username">
            <input type="password" placeholder="Password" class="form-control" name="password">
            <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
        </form>
        </div>
        <!-- Для проверки -->
        <div th:if="${loginError}"><span style="color:red">Вы ввели неверный логин или пароль</span></div>
    </main>
    </div>

  </body>

</html>
