body {
	background-color: #e6e7e8;
	min-height: 1200px;
}

.nav-block {
	background-color: #032a63;
	color: white;
}

.nav-block a {
	color: white;
}

.content {
	background-color: white;
	margin-top: 100px;
	min-height: 800px;
	border-radius: 7px;
	border: 2px solid white;
}

.content > div {
	margin-top: 15px;
	margin-bottom: 30px;
}

.news-text {
	max-height: 95px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.news-image {
	width: 350px;
}

.post-container {
	display: flex;
	width: 100%;
	max-height: 270px;
}

.blog-container {
	/*max-width: 600px;*/
	max-height: 480px;
}

.post-container:hover, .blog-container:hover, .bloger-block:hover {
	background-color: #f5f8fa;
	cursor: pointer;
}

.blog-container>div {
	display: flex;
}

.blog-avatar {
	width: 60px;
	height: 60px;
	border-radius: 40px;
	margin-top: 1.25rem;
	margin-left: 1rem;
}

.blog-content {
	
}

.blog-image {
	/*width: 100%;*/
	height: 320px;
}

.bloger-block {
	margin-right: 15px;
	margin-bottom: 15px;
	display: inline-flex;
	flex-direction: column;
	padding: 5px;
	border-radius: 7px;
	height: 95px;
	width: 105px;
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: .25rem;
}

.bloger-block>div {
	text-align: center;
}

.bloger-block img {
	margin: 0;
}

.bloger-block div:nth-last-child(1) {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}

.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}