<!DOCTYPE html>
<html lang="en" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">McCLOUD</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
	<nav class="navbar fixed-top navbar-expand-lg nav-block">
		<div class="container">
			<a class="navbar-brand" href="/home">McCLOUD</a>
			<button class="navbar-toggler collapsed" type="button"
				data-toggle="collapse" data-target="#navbars"
				aria-controls="navbarsExample07" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="navbar-collapse collapse" id="navbars" style="">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="/home">Главная</a></li>
					<li sec:authorize="hasRole('ROLE_admin')" class="nav-item"><a class="nav-link" href="/admin">Панель администратора</a></li>
				</ul>
				<ul sec:authorize="isAuthenticated()" class="navbar-nav navbar-right">
					<li class="nav-item" style="display:flex"><span style="align-self:center" sec:authentication="name"></span></li>
					<li class="nav-item"><a class="nav-link" href="/logout">Выйти</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<main role="main" class="container content">
		<div layout:fragment="content"></div>		
	</main>



	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://unpkg.com/@popperjs/core@2.4.4/dist/umd/popper.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	
	<script>
$(function () {
	  $('[data-toggle="popover"]').popover()
	})</script>
</body>
</html>
