<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}">
<head>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
$(function() {
	function deleteFile(fileId) {
		$.ajax({
			  type: "POST",
			  url: "/file/delete/"+fileId,
			  success:  () => location.reload()
			});

	}
	
	$('.deleteButton').each((id, el) => {
		$(el).click(() => deleteFile(el.value))
	})
})
</script>
</head>
<body>
	<div layout:fragment="content" class="container">
		<div class="progress">
			<div class="progress-bar progress-bar-striped bg-info" role="progressbar" th:style="${width}" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" th:text="${count}">%</div>
		</div>
		<form th:action="@{/file/upload}" method="POST"
			enctype="multipart/form-data" class="form-inline">
			<input type="file" name="uploadFile" /> <input type="submit"
				class="btn btn-primary" />
		</form>

		<h4>Список файлов пользователя</h4>
		<table class="table">
			<thead>
				<tr>
					<th>Файл</th>
					<th>Имя файла</th>
					<th>Размер, KB</th>
					<th>Пользователь</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="file : ${files}">
					<td><a th:href="@{/download/{id}(id=${file.getFileUUID()})}"
						th:text="${file.getFileName()}"></a></td>
					<td th:text="${file.getSize()}"></td>
					<td th:text="${file.getUser().getUserName()}"></td>
					<td><a href="#" role="button" class="btn btn-link"
						data-toggle="popover" title="Ссылка на файл"
						th:attr="data-content=@{localhost:8080/download/{id}(id=${file.getFileUUID()})}">Поделиться</a>
						|
						<button class="btn btn-link"
							th:value="${file.getFileId()}">Обновить ссылку</button>
						|
						<button class="btn btn-link deleteButton"
							th:value="${file.getFileId()}">Удалить</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>