<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}">
<head>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
$(function() {
	function deleteFile(fileId) {
		$.ajax({
			  type: "POST",
			  url: "/file/delete/"+fileId,
			  success:  () => location.reload()
			});

	}
	
	$('.deleteButton').each((id, el) => {
		$(el).click(() => deleteFile(el.value))
	})
})
</script>
</head>
<body>
	<div layout:fragment="content" class="container">
		<div class="progress">
			<div class="progress-bar progress-bar-striped bg-info" role="progressbar" th:style="${width}" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" th:text="${count}">%</div>
		</div>
		<!-- Button trigger modal -->
		<button style="margin-top: 5%; float: right"type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> Добавить файл</button>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  			<div class="modal-dialog">
    			<div class="modal-content">
      				<div class="modal-header">
        				<h5 class="modal-title" id="exampleModalLabel">Добавление файла</h5>
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
         		 		<span aria-hidden="true">&times;</span>
        				</button>
      				</div>
      				<div class="modal-body">
        				<form th:action="@{/file/upload}" method="POST" enctype="multipart/form-data" class="form-inline">
							<input type="file" name="uploadFile" /> <input type="submit" class="btn btn-primary" />
						</form>
      				</div>
      				<div class="modal-footer">
        				<a type="button" data-dismiss="modal">Отмена</a>
      				</div>
      
    		   </div>
  		  </div>
	</div>

		 <h4 style="margin-top: 5%">Список файлов пользователя</h4> 
		<table class="table">
			<thead>
				<tr>
					<th>Файл</th>
					<th>Размер, KB</th>
					<th>Пользователь</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="file : ${files}">
					<td><a th:href="@{/download/{id}(id=${file.getFileUUID()})}"
						th:text="${file.getFileName()}"></a></td>
					<td th:text="${file.getSize()}"></td>
					<td th:text="${file.getUser().getUserName()}"></td>
					<td><a href="#" role="button" class="btn btn-link"
						data-toggle="popover" title="Ссылка на файл"
						th:attr="data-content=@{localhost:8080/download/{id}(id=${file.getFileUUID()})}">Поделиться</a>
						|
						<button class="btn btn-link"
							th:value="${file.getFileId()}">Обновить ссылку</button>
						|
						<button class="btn btn-link deleteButton"
							th:value="${file.getFileId()}">Удалить</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>