<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}">
<head>
</head>
<body>
	<div layout:fragment="content" class="container">
		<h4 style="text-align: center" th:text="'Вы действительно хотите удалить пользователя ' + ${user.getUserName()}+'?'"></h4>
		<table style="margin-top: 40px" class="table">
		<thead>
				<tr>
					<th>id</th>
					<th>Почта</th>
					<th>Имя</th>
					<th>Роль</th>
					<th>Тариф</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
					<td th:text="${user.getUserId()}"></td>
					<td th:text="${user.getUserEmail()}"></td>
					<td th:text="${user.getUserName()}"></td>
					<td th:text="${user.getUserRole()}"></td>
					<td th:text="${user.getTariff().getTariffName()}"></td>
			</tbody>
			</table>

		<form style="text-align: center" th:action="@{/admin/delete/{id}(id=${user.getUserId()})}" method="POST" th:object="${user}">
			<button style="text-align: center" type="submit" class="btn btn-primary">Да</button>
		</form>

		<form style="text-align: center; margin-top: 20px" th:action="@{/admin}" method="GET" th:object="${user}">
			<button type="submit" class="btn btn-primary">Нет</button>
		</form>


	</div>

</body>
</html>